
	<img src="../../img/regua.png" class="medidor">
	
	<canvas resize="true" hidpi="off" id="myCanvas" data-paper-scope="1" style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width:100%; height:100%; max-width: 40000px; max-height:350px; position:absolute; opacity: 0.6;"></canvas>


    <script type="text/javascript" src="../../js/angular.min.js"></script>
    <script type="text/javascript" src="../../controller.js"></script>
  </body>
</html>