<!DOCTYPE html>
<html>
<head>
  <title>Atlantis</title>
  <link rel="stylesheet" type="text/css" href="../../css/grafico.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <script type="text/javascript" src="../../js/paper.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="../../js/liquidFillGauge.js" language="JavaScript"></script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>

  <!-- SOCKET IO -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io.connect('http://localhost:3000');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  </script>
  <!-- SOCKET IO -->
</head>

<body>
  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong>Atlantis</strong> <i class="fa fa-code" aria-hidden="true"></i></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="sobre"><a href="#">Sobre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser){ %>
            <li><a href="/login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li><a href="/register">Registre-se <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
            <% } else { %>
              <li><a href="#"><strong>Logado como:</strong> <%= currentUser.username %></a></li>
              <li><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
              <% } %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <svg id="fillgauge1" width="97%" height="250" onclick="gauge1.update(NewValue());"></svg>
      <svg id="fillgauge2" width="19%" height="200" onclick="gauge2.update(NewValue());"></svg>
      <svg id="fillgauge3" width="19%" height="200" onclick="gauge3.update(NewValue());"></svg>
      <svg id="fillgauge4" width="19%" height="200" onclick="gauge4.update(NewValue());"></svg>
      <svg id="fillgauge5" width="19%" height="200" onclick="gauge5.update(NewValue());"></svg>
      <svg id="fillgauge6" width="19%" height="200" onclick="gauge6.update(NewValue());"></svg>
      <script language="JavaScript">
          var gauge1 = loadLiquidFillGauge("fillgauge1", 55);
          var config1 = liquidFillGaugeDefaultSettings();
          config1.circleColor = "#FF7777";
          config1.textColor = "#FF4444";
          config1.waveTextColor = "#FFAAAA";
          config1.waveColor = "#FFDDDD";
          config1.circleThickness = 0.2;
          config1.textVertPosition = 0.2;
          config1.waveAnimateTime = 1000;
          var gauge2= loadLiquidFillGauge("fillgauge2", 28, config1);
          var config2 = liquidFillGaugeDefaultSettings();
          config2.circleColor = "#D4AB6A";
          config2.textColor = "#553300";
          config2.waveTextColor = "#805615";
          config2.waveColor = "#AA7D39";
          config2.circleThickness = 0.1;
          config2.circleFillGap = 0.2;
          config2.textVertPosition = 0.8;
          config2.waveAnimateTime = 2000;
          config2.waveHeight = 0.3;
          config2.waveCount = 1;
          var gauge3 = loadLiquidFillGauge("fillgauge3", 60.1, config2);
          var config3 = liquidFillGaugeDefaultSettings();
          config3.textVertPosition = 0.8;
          config3.waveAnimateTime = 5000;
          config3.waveHeight = 0.15;
          config3.waveAnimate = false;
          config3.waveOffset = 0.25;
          config3.valueCountUp = false;
          config3.displayPercent = false;
          var gauge4 = loadLiquidFillGauge("fillgauge4", 50, config3);
          var config4 = liquidFillGaugeDefaultSettings();
          config4.circleThickness = 0.15;
          config4.circleColor = "#808015";
          config4.textColor = "#555500";
          config4.waveTextColor = "#FFFFAA";
          config4.waveColor = "#AAAA39";
          config4.textVertPosition = 0.8;
          config4.waveAnimateTime = 1000;
          config4.waveHeight = 0.05;
          config4.waveAnimate = true;
          config4.waveRise = false;
          config4.waveHeightScaling = false;
          config4.waveOffset = 0.25;
          config4.textSize = 0.75;
          config4.waveCount = 3;
          var gauge5 = loadLiquidFillGauge("fillgauge5", 60.44, config4);
          var config5 = liquidFillGaugeDefaultSettings();
          config5.circleThickness = 0.4;
          config5.circleColor = "#6DA398";
          config5.textColor = "#0E5144";
          config5.waveTextColor = "#6DA398";
          config5.waveColor = "#246D5F";
          config5.textVertPosition = 0.52;
          config5.waveAnimateTime = 5000;
          config5.waveHeight = 0;
          config5.waveAnimate = false;
          config5.waveCount = 2;
          config5.waveOffset = 0.25;
          config5.textSize = 1.2;
          config5.minValue = 30;
          config5.maxValue = 150
          config5.displayPercent = false;
          var gauge6 = loadLiquidFillGauge("fillgauge6", 120, config5);

          function NewValue(){
              if(Math.random() > .5){
                  return Math.round(Math.random()*100);
              } else {
                  return (Math.random()*100).toFixed(1);
              }
          }
      </script>
